.parent {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 20% 80%;
  margin: 0;
  grid-template-rows: repeat(3, 20%);
  /* grid-template-rows: 65% 35%; */
}

header {
  display: grid;
  grid-row: 1 / span 5;
  grid-template-rows: auto;
  align-content: start;
  background-color: #1F1F3D;
}

header>h1,
nav>h2 {
  margin-left: 5%;
  font-family: "Open Sans";
}

h2 {
  padding-top: 5%;
  color: #BFBFDD;
}

nav {
  grid-template-rows: 30% 70%;
  border-top: 2px solid #353567;
  border-bottom: 2px solid #353567;
  font-size: 10px;
  height: 120%;
}

.starred-button {
  width: 80%;
  height: 45px;
  margin-bottom: 5%;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 2%;
  font-size: 22px;
  border-color: #353567;
  color: #E9E9F3;
  background-color: #5356A4;
}

h1,
h4 {
  color: #FFFFFF;
}

main {
  display: grid;
  grid-row: 1 / span 2;
  grid-column: 2 / span 4;
  background-color: #A9AAD2;
}

form {
  display: grid;
  align-items: center;
  justify-content: center;
}

.search-image {
  height: 100%;
  width: 100%;
  background-color: #353567;
  border: 10px;
  border-color: #353567;
}

.title,
.body {
  display: grid;
  align-content: start;
  color: #353567;
  border: none;
}

.title {
  height: 70px;
  margin-top: 2%;
  margin-bottom: 2%;
  grid-template-rows: 30% 70%;
}

.body {
  height: 115px;
  grid-template-rows: 20% 80%;
}

.form-entries {
  border-radius: 5px;
}

.search {
  display: grid;
  grid-template-columns: 12% 88%;
  border: 10px;
  border-color: #353567;
  height: 75%;
  padding-bottom: 5px;
}

.save-button {
  height: 45px;
  background-color: #353567;
  color: #FFFFFF;
  margin-top: 2%;
  margin-bottom: 2%;
  border: 1px;
  border-color: #353567;
  border-radius: 5px;
}

.search-field {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-color: #353567;
}

article {
  height: 60%;
  width: 55%;
  display: grid;
  grid-template-rows: 15% 70% 15%;
  border: solid;
  margin: 5%;
}

.grid-item-3 {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  grid-row: 3 /span 3;
  justify-items: center;
  grid-gap: 5%;
  background-color: #EAEAF4;
}

.idea-images {
  height: 20px;
  width: 20px;
  padding: 0;
}

.icon-bar {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  background-color: #1F1F3D;
}

.title-body {
  display: grid;
  grid-template-rows: 25% 75%;
  padding-top: 8%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #FFFFFF;
}

.title-body>h3,
.title-body>p {
  margin: 0;
  color: #1F1E3D;
}

/* put inside of .title-body? */
.comment-bar {
  display: grid;
  grid-template-columns: 10% 90%;
  align-items: center;
  background-color: #3536A5;
}

.comment-bar>h4 {
  margin: 0;
  padding-left: 5%;
}

.hidden {
  display: none !important;
}